openapi: 3.1.0
info:
  title: Colibri RSS API
  version: "1.0.0"
  description: |
    REST API for the Colibri RSS aggregator. Fetch RSS sources, the posts they
    produce, and the categories each source belongs to. Feeds are refreshed
    automatically every four hours and enriched with AI generated summaries.
  license:
    name: MIT License
    identifier: MIT
servers:
  - url: https://api.colibri-rss.com/
    description: Production server
  - url: http://localhost:8000/
    description: Local development server
tags:
  - name: Categories
    description: Unique list of all source categories.
  - name: Sources
    description: Registered RSS feeds available to Colibri.
  - name: Posts
    description: Aggregated posts fetched from every registered source.
paths:
  /v1/categories:
    get:
      tags: [Categories]
      summary: List categories
      description: Returns the distinct set of categories inferred from all configured sources.
      responses:
        "200":
          description: Object containing array of unique category slugs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListResponse'
        "500":
          $ref: '#/components/responses/InternalError'
  /v1/sources:
    get:
      tags: [Sources]
      summary: List sources
      description: Fetch every registered RSS source with optional category filtering.
      parameters:
        - $ref: '#/components/parameters/CategoryFilter'
      responses:
        "200":
          description: Object containing matching RSS sources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceListResponse'
        "500":
          $ref: '#/components/responses/InternalError'
  /v1/posts:
    get:
      tags: [Posts]
      summary: List posts
      description: Retrieve posts from every source or constrain the results to a subset of source IDs.
      parameters:
        - $ref: '#/components/parameters/SourceFilter'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        "200":
          description: Object containing posts array with pagination metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostListResponse'
        "500":
          $ref: '#/components/responses/InternalError'
  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Returns the health status of the API.
      responses:
        "200":
          description: API is healthy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
components:
  parameters:
    CategoryFilter:
      name: category
      in: query
      description: Case-insensitive category identifier. Repeat to match multiple categories.
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
    SourceFilter:
      name: sources
      in: query
      description: Source IDs to filter by. Repeat to combine multiple IDs.
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
    PageParam:
      name: page
      in: query
      description: Page number for pagination.
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPageParam:
      name: per_page
      in: query
      description: Number of items per page.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  responses:
    InternalError:
      description: Unexpected server-side error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    CategoryListResponse:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          description: Distinct source categories stored in the database.
          items:
            type: string
          example:
            - engineering
            - design
            - investing
    SourceListResponse:
      type: object
      required: [sources]
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
    Source:
      type: object
      required: [id, name, url, category]
      properties:
        id:
          type: string
          description: Stable slug used to reference the source internally.
          example: hacker-news
        name:
          type: string
          description: Human-readable title of the source feed.
          example: Hacker News Front Page
        url:
          type: string
          format: uri
          description: RSS or Atom feed URL.
          example: https://hnrss.org/frontpage
        category:
          type: string
          description: Category slug the source belongs to.
          example: engineering
        logo_url:
          type: string
          format: uri
          description: Optional logo image URL for the source.
          example: https://cdn.example.com/logos/hacker-news.png
    PostListResponse:
      type: object
      required: [posts, pagination]
      properties:
        posts:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Post:
      type: object
      required: [id, title, link, guid, source_id]
      properties:
        id:
          type: string
          description: Unique identifier for the post.
          example: 550e8400-e29b-41d4-a716-446655440000
        title:
          type: string
          description: Title published by the feed provider.
          example: Introduction to Laravel Middleware
        link:
          type: string
          format: uri
          description: Canonical URL of the article.
          example: https://example.com/blog/laravel-middleware
        description:
          type: string
          description: AI-generated summary of the article.
          example: Learn how Laravel middleware protects your application endpoints.
        guid:
          type: string
          description: Unique identifier derived from the feed entry GUID or the item URL.
          example: https://example.com/blog/laravel-middleware
        pub_date:
          type: string
          format: date-time
          description: Original publication timestamp of the article.
          example: "2026-03-20T09:00:00Z"
        source_id:
          type: string
          description: ID of the source this post belongs to.
          example: hacker-news
        status:
          type: string
          description: Processing status of the post.
          enum: [pending, described, failed]
          example: described
    Pagination:
      type: object
      required: [page, per_page, total, total_pages]
      properties:
        page:
          type: integer
          description: Current page number.
          example: 1
        per_page:
          type: integer
          description: Number of items per page.
          example: 20
        total:
          type: integer
          description: Total number of items.
          example: 150
        total_pages:
          type: integer
          description: Total number of pages.
          example: 8
    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          example: healthy
    Error:
      type: object
      properties:
        message:
          type: string
          example: Internal server error
